@model IEnumerable<Movies.Client.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <form asp-action="Search" method="get">
        <input type="text" name="searchString" />
        <br />
        <label> Order by </label>
        <select name="orderby">
            <option value=""> -- </option>
            <option value="title asc"> Title A-Z</option>
            <option value="title desc"> Title Z-A</option>
            <option value="genre asc"> Genre A-Z</option>
            <option value="genre desc"> Genre Z-A</option>
            <option value="releaseyear asc"> Release Year (Oldest first)</option>
            <option value="releaseyear desc"> Release Year (Newest first)</option>
        </select>
        <br />
        <label> Items per page: </label>
        <select name="per_page">
            <option value=""> -- </option>
            <option value="5"> 5 </option>
            <option value="10"> 10 </option>
            <option value="20"> 20 </option>
            <option value="50"> 50 </option>
        </select>
        <br />
        <label> Page: </label>
        <input type="number" name="page" value="1" />
        <br />
        <input type="submit" value="Search" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ID  }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
